<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <remove name ="LocalSQLServer"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL2014.studentwebserver.co.uk; Initial Catalog=db_1525770_LJMUDB; Integrated Security=False; User Id=user_db_1525770_LJMUDB; Password=On33chan66; MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <add name="LocalSQLServer" connectionString="Data Source=SQL2014.studentwebserver.co.uk;Initial Catalog=db_1525770_Authentication;Persist Security Info=True;User ID=user_db_1525770_Authentication;Password=Auth1234"
      providerName="System.Data.SqlClient" />
    <add name="LJMUDBCON" connectionString="Data Source=SQL2014.studentwebserver.co.uk;Initial Catalog=db_1525770_LJMUDB;Persist Security Info=True;User ID=user_db_1525770_LJMUDB;Password=On33chan66"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <authentication mode="Forms"></authentication>
    <roleManager enabled="true">

      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider"
          connectionStringName="LJMUDBCON"
          applicationName="/"
          type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>

    </roleManager>



    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="32768" maxUrlLength="65536" requestValidationMode="2.0"/>
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>

</configuration>